.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  
  .card_title {
    flex: 1;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.875rem;
  }
  
  .card_footer {
    display: flex;
    margin-left: 140px;
    margin-top: 20px;
    align-items: center;
  }

 .card_footer p{
   cursor: pointer;
   margin: 0px 5px;
 }
  